# Autosave files
*~

# build
[Oo]bj/
[Bb]in/
packages/
TestResults/

#Copyrighted files
goal.png
spike.png
solid.png
*.png
*.wav

#Unneeded files
LICENCE_*.txt

.vs/
# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# resharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover
